<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @degree.title %>
</p>

<p>
  <b>Full Title:</b>
  <%= @degree.full_title %>
</p>


<p>
  <b>Description:</b>
  <%= @degree.description %>
</p>


<%= link_to 'Edit', edit_degree_path(@degree) %> |
<%= link_to 'Back', degrees_path %>
